<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>XpenseJS</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="js/lib/jquery.mobile/jquery.mobile-1.4.3.min.css">
  <link rel="stylesheet" href="css/styles.css">
  <!-- Libraries used by XpenseJS app -->
  <script src="js/lib/jquery.min.js"></script>
  <script src="js/mobile-init.js"></script>
  <script src="js/lib/jquery.mobile/jquery.mobile-1.4.3.min.js"></script>
  <script src="js/lib/underscore.min.js"></script>
  <script src="js/lib/backbone.min.js"></script>
  <script src="js/lib/backbone-localStorage.min.js"></script>
  <script src="js/lib/chart.min.js"></script>
</head>
<body>
  
    <section id="app">
      
        <!-- Toolbar -->
      <div data-role="header" data-position="fixed" data-theme="a">
        <a href="#category-panel" class="ui-btn ui-shadow ui-corner-all ui-icon-bullets ui-btn-icon-notext"></a>
        <h1 id="app-title">Xpense.JS</h1>
        <a id="popup-link" href="#" data-rel="popup" data-transition="slideup" class="ui-btn ui-shadow ui-corner-all ui-icon-plus ui-btn-icon-notext"></a>
      </div>

      <!-- Add stuff popup -->
      <div data-role="popup" id="add-popup" data-transition="slideup" data-theme="b">
        <a href="#" data-rel="back" class="ui-btn ui-corner-all ui-shadow ui-btn-b ui-icon-delete ui-btn-icon-notext ui-btn-right">Close</a>
        <ul data-role="listview" data-inset="true" style="min-width:210px;">
          <li data-role="list-divider">Add</li>
          <li data-icon="bullets"><a id="add-category-link" href="#">Category</a></li>
          <li data-icon="star"><a id="add-expense-link" href="#">Expense</a></li>
        </ul>
      </div>

      <!-- No category error -->
      <div data-role="popup" id="no-category-error" data-overlay-theme="b" data-theme="b" data-dismissible="false" style="max-width:400px;">
        <div data-role="header" data-theme="a">
        <h1>Hey there!</h1>
        </div>
        <div role="main" class="ui-content">
          <h3 class="ui-title">You have not created any category yet!</h3>
          <p>Please create a category first before adding an expense.</p>
          <a href="#" class="ui-btn ui-corner-all ui-shadow ui-btn ui-btn-b" data-rel="back">Okay, Got it.</a>
        </div>
      </div>

      <!-- Side panel -->
      <div data-role="panel" data-position-fixed="true" data-display="overlay" id="category-panel" data-theme="b">
        <ul data-role="listview">
          <li data-icon="delete"><a id="panel-close-button" href="#" data-rel="close">Close Menu</a></li>
          <li data-role="list-divider"></li>
          <li data-icon="home"><a href="#/dashboard">Dashboard</a></li>
          <li data-icon="bullets"><a href="#/category">Categories</a></li>
          <li data-icon="gear"><a href="#/settings">Settings</a></li>
          <li data-role="list-divider"></li>
          <li data-icon="user"><a href="#/about">About</a></li>
        </ul>
      </div>

      <!-- Container where other views are injected -->
      <section id="app-container">
      </section>

    </section>

  <!-- Templates -->
  <!-- Dashboard template -->
  <script type="text/template" id="dashboard-template">
    <div class="ui-grid-b">
      <div class="ui-block-a"></div>
      <div class="ui-block-b">
        <h1 class="expense-amount" id="expense-amount">
          0
        </h1>
        <small class="expense-amount-caption">Spent this month!</small>
      </div>
      <div class="ui-block-c"></div>
    </div>
    <div style="text-align:center" id="satisfied-chart-area">
      <hr>
      <h1>Your Spending Satisfaction!</h1>
      <canvas id="satisfied-chart"></canvas>
    </div>
    <div style="text-align:center" id="spending-chart-area">
      <hr>
      <h1>Your Spendings This Month!</h1>
      <canvas id="spending-chart"></canvas>
    </div>
  </script>

  <!-- Add/Edit new Category -->
  <script type="text/template" id="edit-category-template">
    <label for="category-title">
      <h4>Category Title</h4>
    </label>
    <input id="category-title" type="text" value="<%= category.get('title') %>">
    <input data-theme="b" data-icon="check" data-iconshadow="true" value="Update" type="button" id="update-category-button">

    <div data-role="popup" id="update-category-error" data-overlay-theme="b" data-theme="b" data-dismissible="false" style="max-width:400px;">
      <div data-role="header" data-theme="a">
      <h1>Hey there!</h1>
      </div>
      <div role="main" class="ui-content">
        <h3 class="ui-title">I need a title to continue!</h3>
        <a href="#" class="ui-btn ui-corner-all ui-shadow ui-btn ui-btn-b" data-rel="back">Okay, Got it.</a>
      </div>
    </div>
  </script>

  <!-- Categories List View -->
  <script id="category-list-template" type="text/template">
    <ul data-role="listview" data-autodividers="true" data-filter="true" data-inset="true">
      <% _.each(categories, function (c) { %>
        <li><a href="#/category/view/<%= c.get('id') %>"><%= c.get('title') %> </a></li>
      <% }); %>
    </ul>
  </script>

  <!-- Individual category view -->
  <script id="category-view-template" type="text/template">
    <div class="ui-grid-b">
      <div class="ui-block-a">
        <a class="ui-shadow ui-btn ui-corner-all ui-icon-back ui-btn-icon-notext ui-btn-inline" href="#/category"></a>
      </div>
      <div class="ui-block-b button-center">
        <a class="ui-shadow ui-btn ui-corner-all ui-icon-edit ui-btn-icon-notext ui-btn-inline" href="#/category/edit/<%= category.get('id') %>"></a>
      </div>
      <div class="ui-block-c button-right">
        <a class="ui-shadow ui-btn ui-corner-all ui-icon-delete ui-btn-icon-notext ui-btn-inline" id="delete-popup-button"></a>
      </div>
    </div>

    <ul data-role="listview" data-autodividers="true" data-filter="true" data-inset="true">
      <% _.each(expenses, function(x){ %>
        <li><a href="#/expense/edit/<%= x.get('id') %>"><%= x.get('title') %> </a></li>
      <% }); %>
    </ul>

    <div data-role="popup" id="delete-category-popup" data-overlay-theme="b" data-theme="b" data-dismissible="true" style="max-width:400px;">
      <div data-role="header" data-theme="a">
      <h1>Hey there!</h1>
      </div>
      <div role="main" class="ui-content">
        <h3 class="ui-title">Are you sure?</h3>
        <p>This will delete all expenses under this category too.</p>
        <a href="#" class="ui-btn ui-corner-all ui-shadow ui-btn ui-btn-b" data-rel="back">Cancel</a>
        <a class="ui-btn ui-corner-all ui-shadow ui-btn ui-btn-b" href="#/category/destroy/<%= category.get('id') %>">Delete!</a>
      </div>
    </div>

  </script>

  <!-- Add/Edit new Expense -->
  <script type="text/template" id="edit-expense-template">

    <div class="ui-grid-b">
      <div class="ui-block-a">
        <a class="ui-shadow ui-btn ui-corner-all ui-icon-back ui-btn-icon-notext ui-btn-inline" href="#/category/view/<%= expense.get('category') %>"></a>
      </div>
      <div class="ui-block-b button-center">
      </div>
      <div class="ui-block-c button-right">
        <a class="ui-shadow ui-btn ui-corner-all ui-icon-delete ui-btn-icon-notext ui-btn-inline" id="delete-popup-button"></a>
      </div>
    </div>

    <label for="expense-category" class="select">
      <h4>Category</h4>
    </label>
    <select id="expense-category">
      <% _.each(categories, function(c) { %>
        <% if (c.get('id') === expense.get('category') ) { %>
          <option selected="selected" value="<%= c.get('id') %>"><%= c.get('title') %></option>
        <% } else { %>
          <option value="<%= c.get('id') %>"><%= c.get('title') %></option>
        <% } %>
      <% }); %>
    </select>
    <label for="expense-title">
      <h4>Expense Title</h4>
    </label>
    <input id="expense-title" type="text" value="<%= expense.get('title') %>">
    <label for="expense-amount">
      <h4>Amount</h4>
    </label>
    <input id="expense-amount" type="number" value="<%= expense.get('amount') %>">
    <fieldset data-role="controlgroup" data-type="horizontal" data-mini="true">
        <legend>
          <h4>Satisfied with this?</h4>
        </legend>
        <input name="satisfaction-yes" id="satisfaction-yes" <%= expense.get('satisfied') === true ? 'checked="checked"' : '' %> type="checkbox">
        <label for="satisfaction-yes">Yes</label>
        <input name="satisfaction-no" id="satisfaction-no" <%= expense.get('satisfied') === false ? 'checked=""' : '' %> type="checkbox">
        <label for="satisfaction-no">No</label>
    </fieldset>
    <input data-theme="b" data-icon="check" data-iconshadow="true" value="Update" type="button" id="update-expense-button">

    <div data-role="popup" id="update-expense-error" data-overlay-theme="b" data-theme="b" data-dismissible="false" style="max-width:400px;">
      <div data-role="header" data-theme="a">
      <h1>Hey there!</h1>
      </div>
      <div role="main" class="ui-content">
        <h3 class="ui-title">I need a title to continue!</h3>
        <a href="#" class="ui-btn ui-corner-all ui-shadow ui-btn ui-btn-b" data-rel="back">Okay, Got it.</a>
      </div>
    </div>
  </script>

  <script id="settings-template" type="text/template">
    <h2 class="danger-zone">Danger Zone!</h2>
    <input data-theme="b" data-icon="check" data-iconshadow="true" value="Clear All Data" type="button" id="clear-data-button">
  </script>

  <script id="about-template" type="text/template">
    <h2 class="button-center">Xpense.JS</h2>
    <hr>
    <p>Hey there! XpenseJS is a simple app to calculate your monthly expenses. It is built using HTML5, Javascript, jQuery Mobile and BackboneJS. APK file is packaged using Apache Cordova.</p
    <p>The source code is avaiable on github at <a href="https://github.com/ansal/xpensejs">github.com/ansal/xpensejs</a></p>
    <p>Have a great day!</p>
    <hr>
  </script>

  <!-- Backbone code for XpenseJS app -->
  <script src="js/utils.js"></script>
  <script src="js/models.js"></script>
  <script src="js/collections.js"></script>
  <script src="js/views.js"></script>
  <script src="js/routes.js"></script>
  <script src="js/app.js"></script>

</body>
</html> 